*.xcuserstate
*.xcbkptlist
*.xcscheme
chapter4/ex1/ex1.xcodeproj/xcuserdata
chapter4/ex3/ex3.xcodeproj/xcuserdata
chapter4/ex4/ex4.xcodeproj/xcuserdata
chapter4/ex5/ex5.xcodeproj/xcuserdata
chapter4/ex6/ex6.xcodeproj/xcuserdata
